body {
    font-family: arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: black;
} 

button {
    background-color: red;
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
}

p {
    font-size: 20px;
    margin-top: 20px;
}